HotelBooking/Common/Service References/carFlowSvc/CarWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TGS.WebService.Cars.Common.ErrorHandling" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TGS.WebService.Cars.Common.ErrorHandling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarWebServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarWebServiceException" nillable="true" type="tns:CarWebServiceException" />
</xs:schema>