HotelBooking/Common/Service References/carFlowSvc/CarWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tourico.com/webservices/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tourico.com/webservices/" location="http://demo-carws.touricoholidays.com/CarWebService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICarService" type="i0:ICarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookCar">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/BookCar" style="document" />
      <wsdl:input name="BookCarRequestMessage">
        <soap:header message="i0:BookCarRequestMessage_Headers" part="LoginHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BookCarReponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelCar">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/CancelCar" style="document" />
      <wsdl:input name="CancelCarRequest">
        <soap:header message="i0:CancelCarRequest_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelCarResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRulesAndRestrictions">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/GetRulesAndRestrictions" style="document" />
      <wsdl:input name="GetRulesAndRestrictionsRequest">
        <soap:header message="i0:GetRulesAndRestrictionsRequest_Headers" part="LoginHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRulesAndRestrictionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCars">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/SearchCars" style="document" />
      <wsdl:input name="SearchCarsRequestMessage">
        <soap:header message="i0:SearchCarsRequestMessage_Headers" part="LoginHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchCarsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SelectStations">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/SelectStations" style="document" />
      <wsdl:input name="SelectStationsRequestMessage">
        <soap:header message="i0:SelectStationsRequestMessage_Headers" part="LoginHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SelectStationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRGInfo">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/GetRGInfo" style="document" />
      <wsdl:input name="GetRGInfoMessage">
        <soap:header message="i0:GetRGInfoMessage_Headers" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetRGInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchCarsByAirportCode">
      <soap:operation soapAction="http://tourico.com/webservices/ICarService/SearchCarsByAirportCode" style="document" />
      <wsdl:input name="SearchCarsByAirportCodeRequestMessage">
        <soap:header message="i0:SearchCarsByAirportCodeRequestMessage_Headers" part="LoginHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchCarsByAirportCodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CustomCarExceptionFault">
        <soap:fault use="literal" name="CustomCarExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarWebService">
    <wsdl:port name="BasicHttpBinding_ICarService" binding="tns:BasicHttpBinding_ICarService">
      <soap:address location="http://demo-carws.touricoholidays.com/CarWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>