HotelBooking/Common/Service References/hotelflowSvc/HotelFlow1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tourico.com/webservices/hotelv3" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelFlow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tourico.com/webservices/hotelv3" location="http://demo-hotelws.touricoholidays.com/HotelFlow.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IHotelFlow" type="i0:IHotelFlow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchHotels">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/SearchHotels" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchHotelsById">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/SearchHotelsById" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckAvailabilityAndPrices">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/CheckAvailabilityAndPrices" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchHotelsByDestinationIds">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/SearchHotelsByDestinationIds" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BookHotelV3">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/BookHotelV3" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRGInfo">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/GetRGInfo" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DoAmend">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/DoAmend" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CostAmend">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/CostAmend" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHotelDetailsV3">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/GetHotelDetailsV3" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTermAndConditions">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/GetTermAndConditions" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCancellationFee">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/GetCancellationFee" style="document" />
      <wsdl:input name="CancellationFeeRequest">
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancellationFeeInfoWrapper">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCancellationPolicies">
      <soap:operation soapAction="http://tourico.com/webservices/hotelv3/IHotelFlow/GetCancellationPolicies" style="document" />
      <wsdl:input name="CancellationPoliciesRequest">
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HotelPolicyTypeWrapper">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelFlow">
    <wsdl:port name="BasicHttpBinding_IHotelFlow" binding="tns:BasicHttpBinding_IHotelFlow">
      <soap:address location="http://demo-hotelws.touricoholidays.com/HotelFlow.svc/bas" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>