HotelBooking/Common/Service References/hotelflowSvc/HotelFlow3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.tourico.com/webservices" elementFormDefault="qualified" targetNamespace="http://schemas.tourico.com/webservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookInfo">
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="culture" type="xs:string" />
    <xs:attribute name="serverTime" type="xs:dateTime" use="required" />
  </xs:complexType>
</xs:schema>