HotelBooking/Common/Web References/Sabre.Hotels.Search/OTA_HotelAvailLLS20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sws="http://webservices.sabre.com/sabreXML/2011/10" elementFormDefault="qualified" targetNamespace="http://webservices.sabre.com/sabreXML/2011/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="sws_common.xsd" />
  <xs:element name="OTA_HotelAvailRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AvailRequestSegment">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="AdditionalAvail">
                <xs:complexType>
                  <xs:attribute name="Ind" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Corporate">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ID" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ID">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Number" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="GuestCounts">
                <xs:complexType>
                  <xs:attribute name="Count" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="HotelSearchCriteria">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Criterion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Address">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="CityName" type="xs:string" />
                                <xs:element minOccurs="0" name="CountryCode" type="xs:string" />
                                <xs:element minOccurs="0" name="PostalCode" type="xs:string" />
                                <xs:element minOccurs="0" name="StreetNmbr" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Award">
                            <xs:complexType>
                              <xs:attribute name="Provider" type="xs:string" use="optional" />
                              <xs:attribute name="Rating" type="xs:integer" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactNumbers">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ContactNumber">
                                  <xs:complexType>
                                    <xs:attribute name="Phone" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="CommissionProgram" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="3" name="HotelAmenity" type="xs:string" />
                          <xs:element minOccurs="0" name="HotelFeature">
                            <xs:complexType>
                              <xs:attribute name="FireSafetyApproved" type="xs:boolean" use="optional" />
                              <xs:attribute name="AirportTransportation" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelRef">
                            <xs:complexType>
                              <xs:attribute name="ChainCode" type="xs:string" use="optional" />
                              <xs:attribute name="UnitOfMeasure" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="KM" />
                                    <xs:enumeration value="MI" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="HotelCityCode" type="xs:string" use="optional" />
                              <xs:attribute name="HotelCode" type="xs:string" use="optional" />
                              <xs:attribute name="HotelName" type="xs:string" use="optional" />
                              <xs:attribute name="Latitude" type="xs:string" use="optional" />
                              <xs:attribute name="Longitude" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="Package" type="xs:string" />
                          <xs:element minOccurs="0" name="PointOfInterest">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="CountryStateCode" type="xs:string" use="optional" />
                                  <xs:attribute name="NonUS" type="xs:boolean" use="optional" />
                                  <xs:attribute name="RPH" type="xs:integer" use="optional" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="PropertyType" type="xs:string" />
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="RefPoint">
                            <xs:complexType>
                              <xs:attribute name="DistanceDirection" type="xs:string" use="optional" />
                              <xs:attribute name="GeoCode" type="xs:boolean" use="optional" />
                              <xs:attribute name="HotelCode" type="xs:string" use="optional" />
                              <xs:attribute name="Index" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="A" />
                                    <xs:enumeration value="C" />
                                    <xs:enumeration value="R" />
                                    <xs:enumeration value="S" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Sort" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomAmenity" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="NumProperties" type="xs:integer" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="POS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Source">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="BookingChannel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CompanyName">
                                  <xs:complexType>
                                    <xs:attribute name="Division" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="RatePlanCandidates">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="8" name="ContractNegotiatedRateCode" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="3" name="RateAccessCode">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Code" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="3" name="RatePlanCode" type="xs:string" />
                    <xs:element minOccurs="0" name="RateRange">
                      <xs:complexType>
                        <xs:attribute name="CurrencyCode" type="xs:string" use="optional" />
                        <xs:attribute name="Max" type="xs:string" use="optional" />
                        <xs:attribute name="Min" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="PromotionalSpot" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="C" />
                        <xs:enumeration value="L" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="RateAssured" type="xs:boolean" use="optional" />
                  <xs:attribute name="SuppressRackRate" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="TimeSpan">
                <xs:complexType>
                  <xs:attribute name="End" type="sws:date" use="required" />
                  <xs:attribute name="Start" type="sws:date" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ReturnHostCommand" type="xs:boolean" use="optional" />
      <xs:attribute name="TimeStamp" type="xs:dateTime" use="optional" />
      <xs:attribute fixed="2.2.1" name="Version" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>