HotelBooking/Common/Service References/Tourflowsvc/ActivityBookFlow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tourico.com/webservices/activity" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityBookFlow" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tourico.com/webservices/activity" location="http://demo-activityws.touricoholidays.com/ActivityBookFlow.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IActivityBookFlow" type="i0:IActivityBookFlow">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchActivityByActivityIds">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/SearchActivityByActivityIds" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchActivityByDestinationIds">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/SearchActivityByDestinationIds" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchActivityByAirPortCode">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/SearchActivityByAirPortCode" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActivityPreBook">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/ActivityPreBook" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BookActivity">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/BookActivity" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRGInfo">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/GetRGInfo" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetActivityDetails">
      <soap:operation soapAction="http://tourico.com/webservices/activity/IActivityBookFlow/GetActivityDetails" style="document" />
      <wsdl:input>
        <soap:header message="i0:AuthenticationHeader" part="Header" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WSFault">
        <soap:fault use="literal" name="WSFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityBookFlow">
    <wsdl:port name="BasicHttpBinding_IActivityBookFlow" binding="tns:BasicHttpBinding_IActivityBookFlow">
      <soap:address location="http://demo-activityws.touricoholidays.com/ActivityBookFlow.svc/bas" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>