HotelBooking/Common/Web References/Sabre.Hotels.CloseSession/SessionCloseRQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2002/11" elementFormDefault="qualified" targetNamespace="http://www.opentravel.org/OTA/2002/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SessionCloseRQ">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="POS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Source">
                <xs:complexType>
                  <xs:attribute name="PseudoCityCode" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>