HotelBooking/Common/Web References/Sabre.Hotels.TravelItineraryReadInfo/msg-header-2_0.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tns="http://www.ebxml.org/namespaces/messageHeader" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.ebxml.org/namespaces/messageHeader" version="2.0c" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="xmldsig-core-schema.xsd" namespace="http://www.w3.org/2000/09/xmldsig#" />
  <import schemaLocation="xlink.xsd" namespace="http://www.w3.org/1999/xlink" />
  <import schemaLocation="envelope.xsd" namespace="http://schemas.xmlsoap.org/soap/envelope/" />
  <import schemaLocation="xml.xsd" namespace="http://www.w3.org/XML/1998/namespace" />
  <element name="Manifest">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="tns:Reference" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:bodyExtension.grp" />
    </complexType>
  </element>
  <element name="Reference">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" ref="tns:Schema" />
        <element minOccurs="0" maxOccurs="unbounded" ref="tns:Description" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attribute ref="tns:id" />
      <attribute fixed="simple" ref="xlink:type" />
      <attribute ref="xlink:href" use="required" />
      <attribute ref="xlink:role" />
      <anyAttribute namespace="##other" processContents="lax" />
    </complexType>
  </element>
  <element name="Schema">
    <complexType>
      <attribute name="location" type="anyURI" use="required" />
      <attribute name="version" type="tns:non-empty-string" />
    </complexType>
  </element>
  <element name="MessageHeader">
    <complexType>
      <sequence>
        <element ref="tns:From" />
        <element ref="tns:To" />
        <element ref="tns:CPAId" />
        <element ref="tns:ConversationId" />
        <element ref="tns:Service" />
        <element ref="tns:Action" />
        <element ref="tns:MessageData" />
        <element minOccurs="0" ref="tns:DuplicateElimination" />
        <element minOccurs="0" maxOccurs="unbounded" ref="tns:Description" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
    </complexType>
  </element>
  <element name="CPAId" type="tns:non-empty-string" />
  <element name="ConversationId" type="tns:non-empty-string" />
  <element name="Service">
    <complexType>
      <simpleContent>
        <extension base="tns:non-empty-string">
          <attribute name="type" type="tns:non-empty-string" />
        </extension>
      </simpleContent>
    </complexType>
  </element>
  <element name="Action" type="tns:non-empty-string" />
  <element name="MessageData">
    <complexType>
      <sequence>
        <element ref="tns:MessageId" />
        <element ref="tns:Timestamp" />
        <element minOccurs="0" ref="tns:RefToMessageId" />
        <element minOccurs="0" ref="tns:TimeToLive" />
      </sequence>
    </complexType>
  </element>
  <element name="MessageId" type="tns:non-empty-string" />
  <element name="TimeToLive" type="dateTime" />
  <element name="DuplicateElimination" />
  <element name="SyncReply">
    <complexType>
      <sequence>
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
      <attribute ref="soap:actor" use="required" />
    </complexType>
  </element>
  <element name="MessageOrder">
    <complexType>
      <sequence>
        <element ref="tns:SequenceNumber" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
    </complexType>
  </element>
  <element name="SequenceNumber" type="tns:sequenceNumber.type" />
  <element name="AckRequested">
    <complexType>
      <sequence>
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
      <attribute ref="soap:actor" />
      <attribute name="signed" type="boolean" use="required" />
    </complexType>
  </element>
  <element name="Acknowledgment">
    <complexType>
      <sequence>
        <element ref="tns:Timestamp" />
        <element ref="tns:RefToMessageId" />
        <element minOccurs="0" ref="tns:From" />
        <element minOccurs="0" maxOccurs="unbounded" ref="tns:Reference" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
      <attribute ref="soap:actor" />
    </complexType>
  </element>
  <element name="ErrorList">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="tns:Error" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:headerExtension.grp" />
      <attribute name="highestSeverity" type="tns:severity.type" use="required" />
    </complexType>
  </element>
  <element name="Error">
    <complexType>
      <sequence>
        <element minOccurs="0" ref="tns:Description" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attribute ref="tns:id" />
      <attribute default="urn:oasis:names:tc:ebxml-msg:service:errors" name="codeContext" type="anyURI" />
      <attribute name="errorCode" type="tns:non-empty-string" use="required" />
      <attribute name="severity" type="tns:severity.type" use="required" />
      <attribute name="location" type="tns:non-empty-string" />
      <anyAttribute namespace="##other" processContents="lax" />
    </complexType>
  </element>
  <element name="StatusResponse">
    <complexType>
      <sequence>
        <element ref="tns:RefToMessageId" />
        <element minOccurs="0" ref="tns:Timestamp" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:bodyExtension.grp" />
      <attribute name="messageStatus" type="tns:messageStatus.type" use="required" />
    </complexType>
  </element>
  <element name="StatusRequest">
    <complexType>
      <sequence>
        <element ref="tns:RefToMessageId" />
        <any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
      </sequence>
      <attributeGroup ref="tns:bodyExtension.grp" />
    </complexType>
  </element>
  <complexType name="sequenceNumber.type">
    <simpleContent>
      <extension base="nonNegativeInteger">
        <attribute default="Continue" name="status" type="tns:status.type" />
      </extension>
    </simpleContent>
  </complexType>
  <simpleType name="status.type">
    <restriction base="NMTOKEN">
      <enumeration value="Reset" />
      <enumeration value="Continue" />
    </restriction>
  </simpleType>
  <simpleType name="messageStatus.type">
    <restriction base="NMTOKEN">
      <enumeration value="UnAuthorized" />
      <enumeration value="NotRecognized" />
      <enumeration value="Received" />
      <enumeration value="Processed" />
      <enumeration value="Forwarded" />
    </restriction>
  </simpleType>
  <simpleType name="non-empty-string">
    <restriction base="string">
      <minLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="severity.type">
    <restriction base="NMTOKEN">
      <enumeration value="Warning" />
      <enumeration value="Error" />
    </restriction>
  </simpleType>
  <attribute name="id" type="ID" />
  <attribute name="version" type="tns:non-empty-string" />
  <attributeGroup name="headerExtension.grp">
    <attribute ref="tns:id" />
    <attribute ref="tns:version" use="required" />
    <anyAttribute namespace="##other" processContents="lax" />
  </attributeGroup>
  <attributeGroup name="bodyExtension.grp">
    <attribute ref="tns:id" />
    <attribute ref="tns:version" use="required" />
    <anyAttribute namespace="##other" processContents="lax" />
  </attributeGroup>
  <element name="PartyId">
    <complexType>
      <simpleContent>
        <extension base="tns:non-empty-string">
          <attribute name="type" type="tns:non-empty-string" />
        </extension>
      </simpleContent>
    </complexType>
  </element>
  <element name="To">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="tns:PartyId" />
        <element minOccurs="0" name="Role" type="tns:non-empty-string" />
      </sequence>
    </complexType>
  </element>
  <element name="From">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" ref="tns:PartyId" />
        <element minOccurs="0" name="Role" type="tns:non-empty-string" />
      </sequence>
    </complexType>
  </element>
  <element name="Description">
    <complexType>
      <simpleContent>
        <extension base="tns:non-empty-string">
          <attribute ref="xml:lang" use="required" />
        </extension>
      </simpleContent>
    </complexType>
  </element>
  <element name="RefToMessageId" type="tns:non-empty-string" />
  <element name="Timestamp" type="string" />
</schema>